<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        @*<i class="fas fa-fw fa-cog"></i>*@
        <i class="fas fa-hammer fa-cog"></i>
        <span>Hệ thống</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom users:</h6>
            
            <a class="collapse-item" href="/Admin/UserGroup/Index">Nhóm người dùng</a>
            <a class="collapse-item" href="/Admin/User/Index">User</a>

            @*<ul class="nav nav-second-level">
            <li>
                <a href="/Admin/UserGroup/Index">Nhóm người dùng</a>
            </li>
            <li>
                <a href="/Admin/User/Index">User</a>
            </li>
        </ul>*@


        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        @*<i class="fas fa-fw fa-wrench"></i>*@
        <i class="fas fa-newspaper fa-cog"></i>
        <span>Tin tức</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Information:</h6>
            <a class="collapse-item" href="/Admin/Category/Index">Danh mục</a>
            <a class="collapse-item" href="/Admin/Content/Index">Tin tức</a>
            @*<a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>*@
        </div>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSanpham" aria-expanded="true" aria-controls="collapseUtilities">
        @*<i class="fas fa-fw fa-wrench"></i>*@
        <i class="fas fa-tasks fa-cog"></i>
        <span>Quản lí chung</span>
    </a>
    <div id="collapseSanpham" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Information:</h6>
           
                <a class="collapse-item" href="/Admin/About/Index">Gioi thieu</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Foooter</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Menu</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Slide</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Phản hồi</a>
                <a class="collapse-item" href="/">Trang bán hàng</a>

                @*<a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>*@
        </div>
    </div>
</li>